@inject IBTRolesService _rolesService

@{
    ViewData["Title"] = "Dashboard";
    var adminsCount = (ViewBag.Admins as List<BTUser>)?.Count ?? 0;
    var pMsCount = (ViewBag.PMs as List<BTUser>)?.Count ?? 0;
    var devsCount = (ViewBag.Devs as List<BTUser>)?.Count ?? 0;
    var subsCount = (ViewBag.Subs as List<BTUser>)?.Count ?? 0;
    var notifCount = ((List<Notification>)ViewBag.Notifications)?.Count(n => !n.HasBeenViewed) ?? 0;
}






<div class="row">
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">

                <h4 class="header-title mt-0">Users By Role</h4>

                <div class="widget-chart text-center">
                    <div id="usersByRole" dir="ltr" style="height: 245px;" class="morris-chart"></div>
                    <ul class="list-inline chart-detail-list mb-0">
                        <li class="list-inline-item">
                            <h5 style="color: #ebc658;"><i class="fa fa-circle me-1"></i>Admin</h5>
                        </li>
                        <li class="list-inline-item">
                            <h5 style="color: #D98C79;"><i class="fa fa-circle me-1"></i>Project Manager</h5>
                        </li>
                        <li class="list-inline-item">
                            <h5 style="color: #72355f;"><i class="fa fa-circle me-1"></i>Developer</h5>
                        </li>
                        <li class="list-inline-item">
                            <h5 style="color: #475f89;"><i class="fa fa-circle me-1"></i>Submitter</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
  

                <h4 class="header-title mt-0 mb-3">@notifCount New Notifications</h4>

                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                         
                                <th>Title</th>
                                <th>Time</th>
                                <th>Message</th>
                       
                            
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(Notification notification in ViewBag.Notifications)
                            {

                            <tr>
                             
                                <td>@notification.Title</td>
                                <td>@notification.Created</td>
                                <td>@notification.Message</td>
                    
                            
                            </tr>
                                
                            }

         

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div><!-- end col -->

</div>
<!-- end row -->


<script>

    document.addEventListener('DOMContentLoaded', function () {


        var usersByRoleData = [{
            label: "Admin",
            value: @adminsCount
                                      }, {
            label: "Project Manager",
            value: @pMsCount
                                      }, {
            label: "Developer",
            value: @devsCount
                                      }, {
            label: "Submitter",
            value: @subsCount
                                     }];

        var usersByRoleElement = document.getElementById('usersByRole');

        if (usersByRoleElement) {
            var donutChart = Morris.Donut({
                resize: true,
                element: usersByRoleElement,
                data: usersByRoleData,
                colors: ['#ebc658', '#D98C79', '#72355f', '#475f89']
            });

            donutChart.options.data.forEach(function (label, i) {
                var legendItem = document.createElement('span');
                legendItem.textContent = label['label'] + ": " + label['value'];
                legendItem.style.backgroundColor = donutChart.options.colors[i];
                legendItem.style.width = '20px';
                legendItem.style.display = 'inline-block';
                legendItem.style.margin = '10px';

                document.getElementById('legend').appendChild(legendItem);
            });
        }
    });

</script>
