@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "_LoginLayout";
}

                    <div class="card">
                        <div class="card-body p-4">

                            <div class="text-center mb-4">
                                <h4 class="text-uppercase mt-0">Forgot your password?</h4>
                            </div>

                            <form method="post">

                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>


                                <div class="mb-3">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                    <label asp-for="Input.Email" class="form-label"></label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>


                                <div class="mb-3 d-grid text-center">
                                    <button class="w-100 btn btn-lg btn-primary" type="submit"> Reset Password </button>
                                </div>
                            </form>

                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p class="text-muted">Remembered it after all? <a asp-page="./Login" class="text-dark ms-1"><b>Sign In</b></a></p>
                        </div> <!-- end col -->
                    </div>
