@model BugTracker.Models.Project
@inject IBTFileService _fileService

@{
    ViewData["Title"] = "Create";
}

<h1>CREATE PROJECT</h1>
<div class="p-3 border border-2 shadow-lg bg-light">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row g-3 p-2">
            <div class="col-12 col-lg-4">
                <div class="square-img-container">
                    <img id="projectImage" class="img-fluid border rounded-3 mb-2" style="max-height: 350px;" src="@_fileService.ConvertByteArrayToFile(Model?.ImageData!,Model?.ImageType!,DefaultImage.ProjectImage)">
                </div>
                <div>
                    <input asp-for="ImageFile" class="form-control" accept=".png,.jpg,.jpeg,.gif" onchange="document.getElementById('projectImage').src= window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6 mt-2">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6 mt-3">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6 mt-3">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProjectPriorityId" class="control-label"></label>
                        <select asp-for="ProjectPriorityId" class="form-control" asp-items="ViewBag.ProjectPriority"></select>
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <label class="form-check-label me-4 mt-2" asp-for="Archived">Archive?</label>
                        <input class="largerCheckbox me-8" type="checkbox" asp-for="Archived" />
                        <span asp-validation-for="Archived" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-between mt-2 ">
                <a asp-action="Index" class="btn btn-lg btn-outline-secondary rounded-pill">Cancel</a>
                <button type="submit" class="btn btn-lg btn-primary rounded-pill">Save</button>
            </div>
        </div>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
